
#board {
    width: 480.1px;
    height: 480.1px;
    margin: 0 auto;
    background: #ddd;
    box-sizing: content-box;
    border: 7px solid #ddd;
}

#top-bar {
    margin-top: 20px;
    margin-bottom: 30px;
}

.counter {
    border: 3px solid black;
    transition: border-color 0.6s;
    font-weight: 700;
    padding: 2px;
}

.counter-text {
    font-size: 1.4em;
}

.reset-button {
    border: 1px solid black;
    padding: 5px 5px 0;
}

.reset-button:hover {
    background: #eee;
}

.timer {
    text-align: center;
    margin-top: -8px;
}

.card {
    border: 3px solid midnightblue;
    margin: 3px;
    background-color: white;
    transition: transform 0.6s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.outer {
    position: relative;
    float: left;
    /*width: 100px;
    height: 100px;*/
    transform: scaleX(-1);
    perspective: 500px;
}

.card.back {
    z-index: 2;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background:  lightsteelblue ;
}

.card.front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 90%;
}